<!DOCTYPE html>
<html>
<head>
  <title>Ifeelfb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div class="container">
      <div class="main">
        <%= yield %>
      </div>
      <aside class="sidebar">
        <%= render :partial => 'layouts/sidebar' %>
      </aside>
</div>
<div id="fb-root" style="width:500px; height:500px"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({
        appId: "<%= Facebook.config[:client_id] %>",
        cookie: true,
        xfbml: true,
        oauth: true
      });
    </script>
</body>
</html>
