<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>IFeelFacebook</title>
  <%= yield :head %>
  <%= stylesheet_link_tag "application-all", :media => "all" %>
  <%= stylesheet_link_tag "application-print", :media => "print" %>
  <!--[if lte IE 8]>
      <%= stylesheet_link_tag "application-ie", :media => "all" %>
  <![endif]-->  
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
</head>

<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</div> <!-- /container -->
  <%= javascript_include_tag "application-all" %>
  <%= render 'layouts/scripts' %>
</body>
</html>
